<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% if page is defined and page is not null %} {{ page.name }} {% endif %} {% endblock %}</title>

        {{ encore_entry_link_tags('default') }}
        {{ encore_entry_script_tags('default') }}
    </head>
    <body class="d-flex flex-column min-vh-100">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include '@Site/' ~ app.request.attributes.get('active_site').templatePath ~ '/nav-top.html.twig' %}
                </div>

                <div class="col-3 mt-3">
                    {% include '@Site/' ~ app.request.attributes.get('active_site').templatePath ~ '/breadcrumbs.html.twig' %}
                    <form class="d-flex mt-4 mb-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    {% include '@Site/' ~ app.request.attributes.get('active_site').templatePath ~ '/left-menu.html.twig' %}
                </div>
                <div class="col-9 mt-3">

                    <div class="row">
                        <div class="col-6"><h1>{%block h1 %} {% if page is defined and page is not null %} {{ page.name }} {% endif %} {% endblock %}</h1></div>
                        <div class="col-6 pt-3">{%block h1_right %}{% endblock %}</div>
                    </div>

                   {% block flash_message %} {% include '@Site/' ~ app.request.attributes.get('active_site').templatePath ~ '/flash-message.html.twig' %}{% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>
        {% include '@Site/' ~ app.request.attributes.get('active_site').templatePath ~ '/footer.html.twig' %}
    </body>
</html>
